
<div class="container-fluid">
  <div class="col-sm-9">
    <h3> Password Reset <span class="glyphicon glyphicon-pencil"></span></h3>
    <hr>
    <%= form_for @user, url:password_reset_path(params[:id]) do |f| %>
      <% if @user.errors.any? %>
        <div id="error_explanation">
          <div class="alert alert-danger">
            The form contains <%= pluralize(@user.errors.count, "error") %>.
          </div>
          <ul>
            <% @user.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <div class="field">
        <%= hidden_field_tag :email, @user.email %>
      </div>
      <div class="field">
        <%= f.label :password %><br/>
        <%= f.password_field(:password, {:class => 'form-control', :placeholder => 'Enter password'}) %>
      </div>
      <div class="field">
        <%= f.label :password_confirmation %><br/>
        <%= f.password_field(:password_confirmation, {:class => 'form-control', :placeholder => 'Enter password confirmation'}) %>
      </div><br>
      <div class="actions"><%= f.submit "Update Password", {:class => 'btn btn-primary'} %>

      <br>
      <hr>
<% end %>
  </div>
</div>
