
<div class="container-fluid">
  <div class="col-sm-9">

    <h3> New Post </h3>
    <hr>
      <%= form_for :post, url: posts_path do |f| %>
        <% if @post.errors.any? %>
          <% @post.errors.full_messages.each do |msg| %>
          <div class="alert alert-danger"><%= msg %></div>
          <% end %>
      <% end %>
      <p>
        <%= f.label :title %><br>
        <%= f.text_field(:title, {:class => 'form-control', :placeholder => 'Enter title'}) %>
      </p>

      <p>
        <%= f.label :body %><br>
        <%= f.text_field(:body, {:class => 'form-control',:placeholder => 'Enter body'}) %>
      </p>

      <p>
        <%= f.submit({:class => 'btn btn-primary'}) %>
      </p>
      <hr>
  <% end %>
</div>
</div>
