
<div class="container-fluid">
  <div class="col-sm-9">
    <i class="far fa-clock"></i>
    <h3><%= @post.title.upcase %></h3>
    <h5> <i class="fa fa-clock-o"></i> Post by <%= link_to @post.user.name, user_path(@post.user_id) %>, Posted <%= time_ago_in_words(@post.created_at) %> ago</h5>
    <hr>
    <p><%= @post.body %></p>

    <% if logged_in? %>
    <%= link_to "Edit", edit_post_path(@post), :class => 'btn btn-light btn-sm' %>
    <%= link_to "Delete", post_path(@post),
                          method: :delete,
                          data: {confirm: 'Are you sure?'},
                          :class => 'btn btn-danger btn-sm' %>
    <% end %>
<hr>

<% if logged_in? %>
  <h4> Leave a Comment: </h4>
  <%= form_for ([@post, @post.comments.build]) do |f| %>
    <p>
      <!-- <%= f.label :body %><br> -->
      <%= f.text_field(:body, {:class => 'form-control', :placeholder => 'Comment'}) %>
    </p>
    <p>
      <%= f.submit({:class => 'btn btn-success btn-sm'}) %>
    </p>
  <% end %>
<% end %>
<br><br>

<p><span class="badge badge-info"><%= pluralize( @post.comments.count, 'Comment' )%>:</span> </p>

<% @comments.each do |comment| %>
<hr>
 <div class="alert alert-light">
   <h4><i class="fa fa-meh-o"></i> <%= link_to comment.user.name, user_path(comment.user_id) %> <small>Posted <%= time_ago_in_words(comment.created_at) %> ago</small></h4>
   <p><%= comment.body %></p></span>
   <% if current_user == comment.user %>
      <%= link_to "Edit", edit_post_comment_path(comment.post, comment), :class => 'btn btn-light btn-sm' %>
      <%= link_to "Delete", [comment.post, comment],
                         method: :delete,
                         data: {confirm: 'Are you sure?'},
                         :class => 'btn btn-danger btn-sm' %>
   <% end %>
 </div>
<% end %>
<hr>
<br><br>

</div>
