<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style>

    /* Set black background color, white text and some padding */
    footer {
      background-color: #555;
      color: white;
      padding: 15px;
    }

  </style>
</head>
<div class="container-fluid">
  <div class="col-sm-9">
    <h3><%= @post.title.upcase %></h3>
    <h5><span class="glyphicon glyphicon-time"></span> Post by <%= @post.user.name %>, Posted <%= time_ago_in_words(@post.created_at) %> ago</h5>
    <hr>
    <p><%= @post.body %></p>

    <br>
    <% if logged_in? %>
    <%= link_to "Edit", edit_post_path(@post), :class => 'btn btn-primary btn-sm' %>
    <%= link_to "Delete", post_path(@post),
                          method: :delete,
                          data: {confirm: 'Are you sure?'},
                          :class => 'btn btn-danger btn-sm' %>
    <% end %>
<hr>

<% if logged_in? %>
  <h4> Leave a Comment: </h4>
  <%= form_for ([@post, @post.comments.build]) do |f| %>
    <p>
      <!-- <%= f.label :body %><br> -->
      <%= f.text_field(:body, {:class => 'form-control', :placeholder => 'Comment'}) %>
    </p>
    <p>
      <%= f.submit({:class => 'btn btn-success'}) %>
    </p>
  <% end %>
<% end %>
<br><br>

<p><span class="badge"><%= pluralize( @post.comments.count, 'Comment' )%>:</span> </p>

<% @comments.each do |comment| %>
<hr>
 <div class="well well-sm">
   <h4><span class="glyphicon glyphicon-user"></span> <%= comment.user.name %> <small>Posted <%= time_ago_in_words(comment.created_at) %> ago</small></h4>
   <p><%= comment.body %></p></span>
   <% if current_user == comment.user %>
      <%= link_to "Edit", edit_post_comment_path(comment.post, comment), :class => 'btn btn-primary btn-sm' %>
      <%= link_to "Delete", [comment.post, comment],
                         method: :delete,
                         data: {confirm: 'Are you sure?'},
                         :class => 'btn btn-danger btn-sm' %>
   <% end %>
 </div>
<% end %>
<hr>
<br><br>

</div>
