<h3> Title: <%= @post.title %></h3>
<span class="user">Author: <%= @post.user.name %></span>
<br>
<p> <%= @post.body %> </p>
<span class="timestamp">
    Posted <%= time_ago_in_words(@post.created_at) %> ago.
</span>
<br>
<% if logged_in? %>
<%= link_to "Edit", edit_post_path(@post), :class => 'btn btn-light' %>
<%= link_to "Delete", post_path(@post),
                      method: :delete,
                      data: {confirm: 'Are you sure?'},
                      :class => 'btn btn-danger' %>
<hr>
<% end %>

<%= render 'comments/comments' %>

<% if logged_in? %>
<%= render 'comments/form' %>
<% end %>
